{% extends 'base.html' %}

{% block title %}Список артистов{% endblock %}

{% block active_artists %} active{% endblock %}

{% block content %}
    <div class="container">
    <h1> Артисты </h1>


        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                     <div class="row">
                         {% for a in artist %}
                         <div class="col">
                             <div class="card" style="width: 18rem; margin: 10px 1px" >
                                 <img src="{{ a.avatar }}" class="card-img-top" alt="Картинка">

                                 <div class="card-body" style="justify-content: space-between; flex-flow: column;">

                                        <h5 class="card-title">{{ a.name }}</h5>

                                     <a href="http://127.0.0.1:8000/artist/{{ a.id }}" class="btn btn-primary">Концерты</a>
                                 </div>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                </div>
            </div>

        </div>





    </div>

{% endblock %}