{% extends 'base.html' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}

    <div class = container style="margin-top: 10px">
                    <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ artist.avatar }}" class="img-fluid" alt="картинка">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Артист: <a style="color: black" href="http://127.0.0.1:8000/artist/{{ artist.id }}">{{ artist.name }}</a></h5>
                                <p class="card-text">Описание: {{ artist.descr }}</p>
                                {% for conc in concert %}
                                    {% if conc.artist_id_id == artist.id%}
                                        <a href="http://127.0.0.1:8000/concert/{{ conc.id }}"> {{ conc.address }} - {{ conc.date }}</a><br>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}